/*
.flex {
  color: whitesmoke;
  display:flex;
  flex-direction: column;
  }
  .pd-title {
    text-align: center;
    margin: 10vmin;
  }
  */
  .comments {
    margin-top: 30px;
    color: white;
    max-width: 100vmin;
    float: left;
  }


.product-image {
  float: right;
  margin-right: 90px;
  margin-top: 90px;
  height: 500px;
  width: 500px;
}

.comment-form-textarea {
  margin: 30px;
  margin-top: 2px;
  width: 90vmin;
  height: 10vmin;
  background-color: rgba(240, 255, 255, 0.624);
}


.comment-form-button {
  margin: auto;
  height: 5vmin;
  width: 15vmin;
  padding: 1vmin;

}

.comment-form-button-2 {
  margin: auto;
  height: 5vmin;
  width: 15vmin;
  padding: 1vmin;
}

.comment {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.comment-actions {
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.comments-title {
  text-align: start;
  text-decoration: underline;
  font-size: x-large;
}

.products-title-h1 {
  color: black;
  font-size: 15px;
  margin: 2px;
}

.description {
  margin: 10vmin;
  float: left;
  font-size: 20px;
}