.flex {
  color: green;
  display: flex;
  flex-direction: column;
  }
  
  h1 {
    text-align: center;
  }

.product-image {
  height: 450px;
  width: 450px
}

.comments {
  background-color: pink;
}

.comment-box-button {
  background-color: yellow;
}

.comment-form-textarea {
  width: 50vmin;
  height: 10vmin;
  background-color: red;
}

.comment-form-button {
  margin: 5vmin;
  width: 20vmin;
  height: 5vmin;
  background-color: blue;
}

.comment {
  display: flex;
  flex-direction: column;
  color: purple;
}

.comment-actions {
  display: flex;
  justify-content: center;
}

