.flex {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  }
  
  .pd-title {
    text-align: center;
    margin: 10vmin;
  }

.product-image {
  height: 450px;
  width: 450px;
}

.comments {
  background-color: slategray;
  color: white;
  margin: 1vmin;
  max-width: 100vmin;
}

.comment-box-button {
  padding: 0%;
  width: 1vmin;
}

.comment-form-textarea {
  width: 50vmin;
  height: 10vmin;
background-color: azure;
}

.comment-form-button {
  margin: auto;
  height: 5vmin;
  width: 15vmin;
  padding: 1vmin;
}

.comment-form-button-2 {
  margin: auto;
  height: 5vmin;
  width: 15vmin;
  padding: 1vmin;
}

.comment {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.comment-actions {
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.comments-title {
  text-align: start;
  text-decoration: underline;
  font-size:x-large;
}

.products-title-h1 {
  color: black;
  font-size: 15px;
  margin: 2px;
}

.description {
  margin: 6vmin;
}